
.container {
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
}

.container > div {
    height: 50px;
    width: 50px;
}

.myButton {
    margin: 10px;
}